@import url("../theme/variables.css");
.e-schedule-dialog .e-footer-content { 
    display: none; 
} 

.e-footer-buttons{
    position:absolute;
    bottom: 0;
    right:0;
    text-align: right;
}

.e-schedule .e-vertical-view .e-day-wrapper .e-appointment, .e-schedule .e-month-view .e-appointment {
    background-color:var(--ion-color-primary);

}

.e-schedule .e-agenda-view .e-appointment {
    border-left: 3px solid var(--ion-color-primary);
    border-right: 0;
    cursor: default;
    padding: 0 8px;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header {
    background-color:var(--ion-color-primary);
}